@import './components/Main/main';
@import './components/Button/button';
@import './components/Game/game';
@import './components/Player/player';
@import './components/Login/login';


html, body {
	font-family: 'Open Sans', sans-serif;
}

.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

