@import './components/App/app';
@import './components/Main/main';
@import './components/Button/button';
@import './components/Game/game';
@import './components/Player/player';
@import './components/Login/login';
@import './components/Letters/letters';
@import './components/Letter/letter';

html, body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f3f3f3;
}

.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

