.game-wrapper {
	display: flex;
  align-items: center;
  flex-direction: column;

	.game-header {
		display: flex;
    width: 70%;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: flex-end;
		
		h4 {
			color: #3b9096;
		  font-weight: bold;
		  font-size: 24px;
		  margin: 0 0 0 10px;
		} 

		.start-game-button {
			display: flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 14px;
	    width: 110px;
	    height: 35px;	
	  }

		.timer {
			padding: 13px 8px 0px 0px;
		}
	}

	.border {
		width: 70%;
		border-bottom: 1px solid #dcd6d6;
		margin-bottom: 12px;
	}
	
	.players-wrapper {
	  display: flex;
	  margin-top: -20px;
	}
}
