.game-wrapper {
	display: flex;
  align-items: center;
  flex-direction: column;

	h4 {
		color: #3b9096;
	  font-weight: bold;
	  font-size: 24px;
	  margin: 15px 0;
	} 

	.border {
		width: 70%;
		border-bottom: 1px solid #dcd6d6;
		margin-bottom: 12px;
	}
		
	.start-game-button {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		width: 160px;
		height: 50px;
	}
	
	.players-wrapper {
	  display: flex;
	  margin-top: -20px;
	}

	.placeholder {
		height: 50px;
	}

	.timer {
		height: 50px;
	}
}
